@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html, body {
  font-family: Ubuntu, monospace;
  height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.sub {
  font-family: Roboto, Ubuntu, monospace;
}

.textCenter {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
